<config platform="android" template="android (default)">Created: Sun Jun 15 07:56:50 2014&#xd;&#xd;
By: Vinicius&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="../../../../../marmalade/7.2/extensions/s3efacebook/facebook-android-sdk/facebook/res" name="android-external-res"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="true" value="com.Yes or No.Stars" name="android-pkgname"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="Stars" name="name"/>
    <option fromDef="true" value="Stars" name="caption"/>
    <option fromDef="true" value="Yes or No" name="provider"/>
    <option fromDef="true" value="(C) Yes or No" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="" name="android-extra-manifest"/>
    <option fromDef="true" value="../../../../../marmalade/7.2/extensions/s3efacebook/source/android/extra_app_manifest.xml" name="android-extra-application-manifest"/>
    <option fromDef="true" value="" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
</config>
