<config template="iphone (default)" platform="iphone">Created: Sun Jun 15 07:56:50 2014&#xd;&#xd;
By: Vinicius&#xd;&#xd;
Using Template: iphone (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option name="iphone-application-type" fromDef="false" value="&quot;iphone&quot;"/>
    <option name="iphone-appid" fromDef="false" value="com.ideaworks3d.s3eIOSGameCenter"/>
    <option name="iphone-icon-dir" fromDef="true" value=""/>
    <option name="iphone-icon-7-group" fromDef="true" value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>"/>
    <option name="iphone-icon-7-search-group" fromDef="true" value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>"/>
    <option name="iphone-prerendered-icon" fromDef="true" value=""/>
    <option name="iphone-splash-dir" fromDef="true" value=""/>
    <option name="iphone-splash-group-iphone" fromDef="true" value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@2x~iphone;&lt;none>"/>
    <option name="iphone-splash-group-ipad" fromDef="true" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>"/>
    <option name="iphone-show-status-bar" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stars"/>
    <option name="caption" fromDef="true" value="Stars"/>
    <option name="provider" fromDef="true" value="Yes or No"/>
    <option name="copyright" fromDef="true" value="(C) Yes or No"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="itunes-artwork" fromDef="true" value=""/>
    <option name="iphone-icon-group" fromDef="true" value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>"/>
    <option name="iphone-icon-search-group" fromDef="true" value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>"/>
    <option name="iphone-nosign" fromDef="true" value=""/>
    <option name="iphone-sign-for-distribution" fromDef="true" value=""/>
    <option name="iphone-provisioning-profile" fromDef="true" value=""/>
    <option name="iphone-signing-identity" fromDef="true" value=""/>
    <option name="iphone-region" fromDef="true" value="English"/>
    <option name="iphone-info-plist" fromDef="true" value=""/>
    <option name="iphone-persistent-wifi" fromDef="true" value=""/>
    <option name="iphone-backgroundmode-audio" fromDef="true" value=""/>
    <option name="iphone-app-fonts" fromDef="true" value=""/>
    <option name="iphone-bundle-localisations" fromDef="true" value=""/>
    <option name="iphone-bundle-url-name" fromDef="true" value=""/>
    <option name="iphone-bundle-url-schemes" fromDef="false" value="fbFACEBOOK_APP_ID"/>
</config>
