<config platform="project" template="project (default)">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;
By: Vinicius&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="Stars" name="name"/>
    <option fromDef="true" value="Stars" name="caption"/>
    <option fromDef="true" value="Yes or No" name="provider"/>
    <option fromDef="true" value="(C) Yes or No" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
