<config template="iphone (default)" platform="iphone">Created: Sun Jun 15 07:56:50 2014











By: Vinicius











Using Template: iphone (default)























&lt;description to go here><option fromDef="false" name="iphone-application-type" value="&quot;iphone&quot;"/>
    <option fromDef="false" name="iphone-appid" value="com.yesorno.dotsrush"/>
    <option fromDef="true" name="iphone-minimum-ios-version" value="4.3"/>
    <option fromDef="true" name="iphone-show-status-bar" value=""/>
    <option fromDef="true" name="iphone-uiviewcontroller-based-status-bar" value=""/>
    <option fromDef="false" name="iphone-icon-dir" value="data/icons"/>
    <option fromDef="true" name="iphone-prerendered-icon" value=""/>
    <option fromDef="true" name="iphone-icon-extra" value=""/>
    <option fromDef="true" name="iphone-skip-icon-generation" value=""/>
    <option fromDef="true" name="iphone-skip-launch-generation" value=""/>
    <option fromDef="true" name="iphone-launch-dir" value=""/>
    <option fromDef="true" name="iphone-launch-storyboard" value=""/>
    <option fromDef="true" name="iphone-launch-extra" value=""/>
    <option fromDef="false" name="icon" value="data/icons"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="false" name="name" value="Dots Rush"/>
    <option fromDef="false" name="caption" value="Dots Rush"/>
    <option fromDef="true" name="provider" value="Yes or No"/>
    <option fromDef="true" name="copyright" value="(C) Yes or No"/>
    <option fromDef="false" name="version" value="1.0.0"/>
    <option fromDef="false" name="version-string" value="1.0.0"/>
    <option fromDef="true" name="itunes-artwork" value=""/>
    <option fromDef="true" name="iphone-region" value="English"/>
    <option fromDef="true" name="iphone-info-plist" value=""/>
    <option fromDef="true" name="iphone-persistent-wifi" value=""/>
    <option fromDef="true" name="iphone-backgroundmode-audio" value=""/>
    <option fromDef="true" name="iphone-app-fonts" value=""/>
    <option fromDef="true" name="iphone-bundle-localisations" value=""/>
    <option fromDef="false" name="iphone-bundle-url-name" value="com.yesorno.dotsrush"/>
    <option fromDef="false" name="iphone-bundle-url-schemes" value="fb955358454521782"/>
    <option fromDef="false" name="iphone-nosign" value="1"/>
    <option fromDef="false" name="iphone-sign-for-distribution" value=""/>
    <option fromDef="false" name="iphone-provisioning-profile" value="IOS files/Dots_Rush_Production.mobileprovision"/>
    <option fromDef="false" name="iphone-signing-identity" value="iPhone Distribution"/>
</config>
