<config template="project (default)" platform="project">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option fromDef="false" name="icon" value="data/icons"/>
    <option fromDef="false" name="splashscreen" value="data/splashscreens"/>
    <option fromDef="false" name="splashscreen-use-all" value=""/>
    <option fromDef="false" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="false" name="name" value="Dots Rush"/>
    <option fromDef="false" name="caption" value="Dots Rush"/>
    <option fromDef="true" name="provider" value="Yes or No"/>
    <option fromDef="true" name="copyright" value="(C) Yes or No"/>
    <option fromDef="false" name="version" value="1.0.0"/>
    <option fromDef="false" name="version-string" value="1.0.0"/>
</config>
