<config platform="project" template="project (default)">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option value="data/icons" fromDef="false" name="icon"/>
    <option value="data/splashscreens" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="false" name="splashscreen-use-all"/>
    <option value="" fromDef="false" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Dots Rush" fromDef="false" name="name"/>
    <option value="Dots Rush" fromDef="false" name="caption"/>
    <option value="Yes or No" fromDef="true" name="provider"/>
    <option value="(C) Yes or No" fromDef="true" name="copyright"/>
    <option value="1.0.0" fromDef="false" name="version"/>
    <option value="1.0.0" fromDef="false" name="version-string"/>
</config>
