<config template="android (default)" platform="android">Created: Sun Jun 15 07:56:50 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option value="" name="android-icon-dir" fromDef="true"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group" fromDef="true"/>
    <option value="" name="android-icon-gallery" fromDef="true"/>
    <option value="" name="android-icon-nonstandard" fromDef="true"/>
    <option value="../../../../../marmalade/7.2/extensions/s3efacebook/facebook-android-sdk/facebook/res" name="android-external-res" fromDef="true"/>
    <option value="1" name="android-install-location" fromDef="true"/>
    <option value="com.Yes or No.OldMan" name="android-pkgname" fromDef="true"/>
    <option value="" name="android-external-assets" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="OldMan" name="name" fromDef="true"/>
    <option value="OldMan" name="caption" fromDef="true"/>
    <option value="Yes or No" name="provider" fromDef="true"/>
    <option value="(C) Yes or No" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="android-manifest" fromDef="true"/>
    <option value="" name="android-custom-activity" fromDef="true"/>
    <option value="" name="android-extra-manifest" fromDef="true"/>
    <option value="../../../../../marmalade/7.2/extensions/s3efacebook/source/android/extra_app_manifest.xml" name="android-extra-application-manifest" fromDef="true"/>
    <option value="" name="android-extra-strings" fromDef="true"/>
    <option value="" name="android-supports-gl-texture" fromDef="true"/>
    <option value="" name="android-unsigned" fromDef="true"/>
    <option value="" name="android-tm" fromDef="true"/>
</config>
