<config platform="android" template="android (default)">Created: Sun Jun 15 07:56:50 2014&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;
&lt;description to go here><option value="" fromDef="true" name="android-icon-dir"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true" name="android-icon-group"/>
    <option value="" fromDef="true" name="android-icon-gallery"/>
    <option value="" fromDef="true" name="android-icon-nonstandard"/>
    <option value="../../../../../marmalade/7.2/extensions/s3efacebook/facebook-android-sdk/facebook/res" fromDef="true" name="android-external-res"/>
    <option value="1" fromDef="true" name="android-install-location"/>
    <option value="com.Yes or No.Stars_Small" fromDef="true" name="android-pkgname"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Stars_Small" fromDef="true" name="name"/>
    <option value="Stars_Small" fromDef="true" name="caption"/>
    <option value="Yes or No" fromDef="true" name="provider"/>
    <option value="(C) Yes or No" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="android-manifest"/>
    <option value="" fromDef="true" name="android-custom-activity"/>
    <option value="" fromDef="true" name="android-extra-manifest"/>
    <option value="../../../../../marmalade/7.2/extensions/s3efacebook/source/android/extra_app_manifest.xml" fromDef="true" name="android-extra-application-manifest"/>
    <option value="" fromDef="true" name="android-extra-strings"/>
    <option value="" fromDef="true" name="android-supports-gl-texture"/>
    <option value="" fromDef="true" name="android-unsigned"/>
</config>
