<config platform="project" template="project (default)">Created: Sun Jun 15 07:56:49 2014&#xd;
By: Vinicius&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Hoppe" fromDef="true" name="name"/>
    <option value="Hoppe" fromDef="true" name="caption"/>
    <option value="Yes or No" fromDef="true" name="provider"/>
    <option value="(C) Yes or No" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
