<config template="project (default)" platform="project">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Corococo" fromDef="true" name="name"/>
    <option value="Corococo" fromDef="true" name="caption"/>
    <option value="vhasselmann" fromDef="true" name="provider"/>
    <option value="(C) vhasselmann" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
