<config platform="android" template="android (default)">Created: Sun Jun 15 07:56:50 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value="../../../../../marmalade/7.2/extensions/s3efacebook/facebook-android-sdk/facebook/res"/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.Yes or No.Drops"/>
    <option fromDef="true" name="android-external-assets" value=""/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Drops"/>
    <option fromDef="true" name="caption" value="Drops"/>
    <option fromDef="true" name="provider" value="Yes or No"/>
    <option fromDef="true" name="copyright" value="(C) Yes or No"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value=""/>
    <option fromDef="true" name="android-extra-application-manifest" value="../../../../../marmalade/7.2/extensions/s3efacebook/source/android/extra_app_manifest.xml"/>
    <option fromDef="true" name="android-extra-strings" value=""/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
    <option fromDef="true" name="android-tm" value=""/>
</config>
