<config platform="iphone" template="iphone (default)">Created: Sun Jun 15 07:56:50 2014











By: Vinicius











Using Template: iphone (default)























&lt;description to go here><option name="iphone-application-type" value="&quot;iphone&quot;" fromDef="false"/>
    <option name="iphone-appid" value="com.yesornogames.dotsrush" fromDef="false"/>
    <option name="iphone-minimum-ios-version" value="4.3" fromDef="true"/>
    <option name="iphone-icon-dir" value="data/icons" fromDef="false"/>
    <option name="iphone-icon-7-group" value="-76;&lt;none>;-120;&lt;generate>;-76@2x;&lt;none>" fromDef="false"/>
    <option name="iphone-icon-7-search-group" value="-Small;&lt;generate>;-Small-40;&lt;generate>;-Small@2x;&lt;generate>;-Small-40@2x;&lt;generate>" fromDef="false"/>
    <option name="iphone-prerendered-icon" value="" fromDef="true"/>
    <option name="iphone-splash-dir" value="data/splashscreens" fromDef="false"/>
    <option name="iphone-splash-group-iphone" value="~iphone;&lt;generate>;@2x~iphone;&lt;generate>;-568h@2x~iphone;&lt;generate>" fromDef="false"/>
    <option name="iphone-splash-group-ipad" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>" fromDef="true"/>
    <option name="iphone-show-status-bar" value="" fromDef="true"/>
    <option name="icon" value="data/icons" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Dots Rush" fromDef="false"/>
    <option name="caption" value="Dots Rush" fromDef="false"/>
    <option name="provider" value="Yes or No" fromDef="true"/>
    <option name="copyright" value="(C) Yes or No" fromDef="true"/>
    <option name="version" value="1.0.0" fromDef="false"/>
    <option name="version-string" value="1.0.0" fromDef="false"/>
    <option name="itunes-artwork" value="" fromDef="true"/>
    <option name="iphone-icon-group" value=";&lt;generate>;-72;&lt;none>;@2x;&lt;generate>;-72@2x;&lt;none>" fromDef="false"/>
    <option name="iphone-icon-search-group" value="-Small;&lt;generate>;-Small-50;&lt;none>;-Small@2x;&lt;generate>;-Small-50@2x;&lt;none>" fromDef="false"/>
    <option name="iphone-nosign" value="" fromDef="true"/>
    <option name="iphone-sign-for-distribution" value="" fromDef="true"/>
    <option name="iphone-provisioning-profile" value="" fromDef="true"/>
    <option name="iphone-signing-identity" value="" fromDef="true"/>
    <option name="iphone-region" value="English" fromDef="true"/>
    <option name="iphone-info-plist" value="" fromDef="true"/>
    <option name="iphone-persistent-wifi" value="" fromDef="true"/>
    <option name="iphone-backgroundmode-audio" value="" fromDef="true"/>
    <option name="iphone-app-fonts" value="" fromDef="true"/>
    <option name="iphone-bundle-localisations" value="" fromDef="true"/>
    <option name="iphone-bundle-url-name" value="com.yesornogames.dotsrush" fromDef="false"/>
    <option name="iphone-bundle-url-schemes" value="fbFACEBOOK_APP_ID" fromDef="false"/>
</config>
