<config template="iphone (default)" platform="iphone">Created: Sun Jun 15 07:56:50 2014











By: Vinicius











Using Template: iphone (default)























&lt;description to go here><option value="&quot;iphone&quot;" name="iphone-application-type" fromDef="false"/>
    <option value="com.yesorno.dotsrush" name="iphone-appid" fromDef="false"/>
    <option value="4.3" name="iphone-minimum-ios-version" fromDef="true"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="" name="iphone-uiviewcontroller-based-status-bar" fromDef="true"/>
    <option value="data/icons" name="iphone-icon-dir" fromDef="false"/>
    <option value="" name="iphone-prerendered-icon" fromDef="true"/>
    <option value="" name="iphone-icon-extra" fromDef="true"/>
    <option value="" name="iphone-skip-icon-generation" fromDef="true"/>
    <option value="" name="iphone-skip-launch-generation" fromDef="true"/>
    <option value="" name="iphone-launch-dir" fromDef="true"/>
    <option value="" name="iphone-launch-storyboard" fromDef="true"/>
    <option value="" name="iphone-launch-extra" fromDef="true"/>
    <option value="data/icons" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Dots Rush" name="name" fromDef="false"/>
    <option value="Dots Rush" name="caption" fromDef="false"/>
    <option value="Yes or No" name="provider" fromDef="true"/>
    <option value="(C) Yes or No" name="copyright" fromDef="true"/>
    <option value="1.0.0" name="version" fromDef="false"/>
    <option value="1.0.0" name="version-string" fromDef="false"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="com.yesorno.dotsrush" name="iphone-bundle-url-name" fromDef="false"/>
    <option value="fb955358454521782" name="iphone-bundle-url-schemes" fromDef="false"/>
    <option value="1" name="iphone-nosign" fromDef="false"/>
    <option value="" name="iphone-sign-for-distribution" fromDef="false"/>
    <option value="IOS files/Dots_Rush_Production.mobileprovision" name="iphone-provisioning-profile" fromDef="false"/>
    <option value="iPhone Distribution" name="iphone-signing-identity" fromDef="false"/>
</config>
