<config platform="iphone" template="iphone (default)">Created: Sun Jun 15 07:56:50 2014











By: Vinicius











Using Template: iphone (default)























&lt;description to go here><option name="iphone-application-type" fromDef="false" value="&quot;iphone&quot;"/>
    <option name="iphone-appid" fromDef="false" value="com.yesornogames.dotsrush"/>
    <option name="iphone-minimum-ios-version" fromDef="true" value="4.3"/>
    <option name="iphone-icon-dir" fromDef="false" value="data/icons"/>
    <option name="iphone-icon-7-group" fromDef="false" value="-76;&lt;none>;-120;&lt;generate>;-76@2x;&lt;none>"/>
    <option name="iphone-icon-7-search-group" fromDef="false" value="-Small;&lt;generate>;-Small-40;&lt;generate>;-Small@2x;&lt;generate>;-Small-40@2x;&lt;generate>"/>
    <option name="iphone-prerendered-icon" fromDef="true" value=""/>
    <option name="iphone-splash-dir" fromDef="false" value="data/splashscreens"/>
    <option name="iphone-splash-group-iphone" fromDef="false" value="~iphone;&lt;generate>;@2x~iphone;&lt;generate>;-568h@2x~iphone;&lt;generate>"/>
    <option name="iphone-splash-group-ipad" fromDef="true" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>"/>
    <option name="iphone-show-status-bar" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="data/icons"/>
    <option name="splashscreen" fromDef="false" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="false" value="Dots Rush"/>
    <option name="caption" fromDef="false" value="Dots Rush"/>
    <option name="provider" fromDef="true" value="Yes or No"/>
    <option name="copyright" fromDef="true" value="(C) Yes or No"/>
    <option name="version" fromDef="false" value="1.0.0"/>
    <option name="version-string" fromDef="false" value="1.0.0"/>
    <option name="itunes-artwork" fromDef="true" value=""/>
    <option name="iphone-icon-group" fromDef="false" value=";&lt;generate>;-72;&lt;none>;@2x;&lt;generate>;-72@2x;&lt;none>"/>
    <option name="iphone-icon-search-group" fromDef="false" value="-Small;&lt;generate>;-Small-50;&lt;none>;-Small@2x;&lt;generate>;-Small-50@2x;&lt;none>"/>
    <option name="iphone-nosign" fromDef="true" value=""/>
    <option name="iphone-sign-for-distribution" fromDef="true" value=""/>
    <option name="iphone-provisioning-profile" fromDef="true" value=""/>
    <option name="iphone-signing-identity" fromDef="true" value=""/>
    <option name="iphone-region" fromDef="true" value="English"/>
    <option name="iphone-info-plist" fromDef="true" value=""/>
    <option name="iphone-persistent-wifi" fromDef="true" value=""/>
    <option name="iphone-backgroundmode-audio" fromDef="true" value=""/>
    <option name="iphone-app-fonts" fromDef="true" value=""/>
    <option name="iphone-bundle-localisations" fromDef="true" value=""/>
    <option name="iphone-bundle-url-name" fromDef="false" value="com.yesornogames.dotsrush"/>
    <option name="iphone-bundle-url-schemes" fromDef="false" value="fb955358454521782"/>
</config>
