<config template="project (default)" platform="project">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option value="data/icons" name="icon" fromDef="false"/>
    <option value="data/splashscreens" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="false"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="false"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Dots Rush" name="name" fromDef="false"/>
    <option value="Dots Rush" name="caption" fromDef="false"/>
    <option value="Yes or No" name="provider" fromDef="true"/>
    <option value="(C) Yes or No" name="copyright" fromDef="true"/>
    <option value="1.0.0" name="version" fromDef="false"/>
    <option value="1.0.0" name="version-string" fromDef="false"/>
</config>
