<config platform="project" template="project (default)">Created: Sun Jun 15 07:56:49 2014&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
By: Vinicius&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Drops" name="name" fromDef="true"/>
    <option value="Drops" name="caption" fromDef="true"/>
    <option value="Yes or No" name="provider" fromDef="true"/>
    <option value="(C) Yes or No" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
